---
title: "Comment sommes-nous financés ?"
---
SumOfUs n’accepte aucun financement provenant d’entreprises ou de
gouvernements. Nous sommes essentiellement financés par les petits dons
de nos membres, ce qui nous permet de rester totalement indépendants.
Nous sommes engagés à être transparents sur l’origine de nos dons et la
façon dont nous les utilisons.


## D’où viennent nos dons :
<!-- Funding sources table -->
<%= partial 'funding' %>

<br style="clear:both">

<%= partial 'funds_chart' %>

<br style="clear:both">


<div class = 'funding-italic'>
  <p>
    La grande majorité de notre financement provient de dons individuels
    de membres de SumOfUs. En 2016, nous avons reçu 286.484 contributions
    avec un montant moyen de $14.
  </p>
  <p>
    SumOfUs a également établi également des partenariats avec des
    fondations indépendantes et organisations non gouvernementales
    parmi lesquelles se trouvent, Tides Foundation, Chorus Foundation,
    BetterWorld, Changing Markets, General Service Foundation, Hull Family
    Foundation, Open Society Foundations, Packard Foundation, Public Welfare
    Foundation, Rockefeller Brothers Foundation, Voqal Foundation, Wallace
    Global Fund, Funders for Fair Trade, Media Democracy Fund, Robert W.
    Deutsch Foundation, New Venture Fund.
  </p>
</div>

## Comment nous dépensons ces dons :
<!-- Expenditure table -->
<%= partial 'expenses' %>

<br style="clear:both">

<%= partial 'expenses_chart' %>

<br style="clear:both">


## Notre engagement auprès des donateurs

Lorsque vous faites un don à SumOfUs, vous rejoignez une communauté de
gens partout dans le monde qui investissent leur argent afin de s’attaquer
aux multinationales qui tentent de faire passer leurs profits avant
l’humain et la planète.

Nos membres sont déterminé-es à faire rendre des comptes aux plus grandes
entreprises du monde. Chaque jour, des dizaines de milliers de membres
SumOfUs agissent et nous aident à gagner des campagnes en signant une
pétition, en interpellant un-e décideur en ligne ou en posant une question
lors d’une réunion d’actionnaires. Et ceux qui en ont les moyens font
également des dons.

Mener des campagnes contre de puissantes entreprises est comme vous
l’imaginez, assez onéreux. D’autant plus que nous n’acceptons pas d’argent
 provenant d’entreprises ou de gouvernements. Ce qui veut dire en somme que
  sans votre aide et votre générosité, nous n’existerions tout simplement pas.

Notre compte bancaire ne sera jamais aussi rempli que celui d’une grande
entreprise, mais grâce aux membres qui nous donnent ce qu’ils peuvent,
nous gagnons des campagnes contre les plus puissantes multinationales.

Notre pouvoir vient de vous, et en retour nous vous promettons que :

<!-- Maybe make this a translatable partial: -->
<ol class='funding-list'>
  <li>
    <b>Nous dépenserons votre argent judicieusement</b> : nous nous
    assurerons que chaque centime que vous nous donnez sera dépensé de
    façon à optimiser son impact. Nous n’avons qu’une trentaine d’employé-es
    dans le monde, qui font face à des multinationales géantes comme Monsanto,
    Nestlé et PepsiCo, et qui gagnent. Nous sommes efficaces et nous
    obtenons des résultats.
  </li>
  <li>
    <b>Nous garderons le contact</b> : nous envoyons régulièrement des
    comptes rendus afin que vous soyez tenu au courant de l’évolution
    de nos campagnes.
  </li>
  <li>
    <b>Nous vous répondrons rapidement</b> : si vous nous contactez, vous
    recevrez une réponse dans les plus brefs délais.
  </li>
  <li>
    <b>Nous vous rembourserons sur demande</b> : si vous changez d’avis à
    propos d’un don, nous vous le rembourserons sans poser de questions.
  </li>
  <li>
    <b>Nous vous traiterons toujours avec le plus grand respect</b> : vous
    êtes un-e partenaire estimé-e et chaque employé-e et volontaire réalise
    à quel point notre relation avec vous est importante.
  </li>
  <li>
    <b>Nous nous efforcerons de nous améliorer</b> : nous chercherons
    toujours de nouvelles façon de nous améliorer dans tout ce que nous faisons.
  </li>
</ol>

Nous sommes très reconnaissant envers tous les membres de SumOfUs
pour le temps, l’énergie et l’argent mis au service de la lutte contre
le pouvoir grandissant des entreprises.

<div class = 'funding-italic'>
  <p>
    +Récemment, votre soutien nous a permis d’obtenir d’énormes victoires
    dans le monde entier.
    En voici quelques-unes :
  </p>
  <p>
    Glyphosate
    <br style="clear:both">
    Le pesticide préféré de Monsanto, le glyphosate, contamine aussi bien
    notre nourriture, nos vêtements, nos produits d’hygiène personnelle que
    le lait maternel. Les membres de SumOfUs ont joué un rôle crucial dans
    la coalition qui a poussé les pays de l’UE tels que la France, l’Italie,
    et l’Allemagne à ne pas soutenir la réhomologation du glyphosate. Vos
    dons nous ont aidé à publier des publicités dans des journaux lus par
    les décideurs européens et nous ont ainsi permis d’empêcher la
    réhomologation pour 10 ans du pesticides toxique.
  </p>
  <p>
    Westpac
    <br style="clear:both">
    Lorsque Westpac, l’une des plus grandes banques australiennes, avait
    prévu de financer la mine de charbon Adani, destructrice d’une barrière
    de corail, vos dons nous ont permis de payer des encarts publicitaires,
    des bannières en ligne et la production d’une vidéo parodique. Grâce à
    vos dons et au travail de nos partenaires, nous avons gagné. Westpac a
    annoncé publiquement l’abandon du projet de financement de la mine.
  </p>
  <p>
    WestJet
    <br style="clear:both">
    Lorsque l’absence de sanction et d’enquête au sein de la compagnie
    aérienne canadienne WestJet face aux cas de harcèlement sexuel ont
    fait surface, les dons des membres de SumOfUs nous ont permis de mener
    une campagne ciblée et efficace. Nous nous sommes rendus à Calgary afin
    de rencontrer les cadres de l’entreprise, nous avons distribué des
    prospectus dans l’un des plus grands aéroports du Canada, nous avons
    fait signer une lettre ouverte par des actionnaires de Westjet et des
    clients fidèles de la compagnie. Nous avons également été à l’assemblée
    générale des actionnaires où nous avons posé des questions devant les
    investisseurs et actionnaires sur la négligence dont a fait preuve
    Westjet face aux accusations de harcèlement sexuel. Finalement, WestJet
    s’est résigné à entreprendre un audit externe de son règlement.
  </p>
  <p>
    Bayer-Monsanto
    <br style="clear:both">
    La fusion entre Bayer et Monsanto en l’une des plus grandes
    méga-multinationales du monde serait un désastre sans pareil. Les
    membres de SumOfUs nous ont aidé à nous assurer que la Commission
    européenne ne donne pas son feu vert à ce projet diabolique sans lancer
    une enquête au préalable. La Commissaire européenne Margrethe Vestager
    a même répondu directement à l’interpellation de nos membres. Vos dons
    nous ont permis de financer une énorme campagne de communication et
    d’embaucher des lobbyistes afin de défaire ces multinationales sur
    leur terrain.
  </p>
  <p>
    Et plus encore
    <br style="clear:both">
    Les dons des membres SumOfUs nous ont aidé à financer la distribution
    de prospectus, des campagnes publicitaires, la location de panneaux
    de pub, l’aide de lobbyistes et de juristes et bien plus encore. Nous
    avons aidé des apiculteurs et des experts à se rendre au parlement
    étasunien afin de témoigner contre les pesticides. Nous avons financé
    des campagnes publicitaires afin d’empêcher des entreprises de soutenir
    la haine dans des médias comme Breitbart ou le Daily Mail. Vos dons
    ainsi que vos actions ont rendu tout cela possible. Nous n’aurions pas
    pu le faire sans vous.
  </p>
</div>

Pour plus d’informations, vous pouvez consulter notre formulaire 990 annuel,
document officiel du fisc étasunien qui rends public les informations fiscales
des organisations à but non-lucratif. Vous pouvez également consulter notre
rapport d’audit établi par Lederer Levine & Associates, un cabinet comptable
indépendant basé à New York City.

<ul class='funding-list'>
  <li>
    <%= link_to 'Formulaire 990 de 2014', image_path('2014_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Rapport d’audit de 2014', image_path('2014_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to 'Formulaire 990 de 2015', image_path('2015_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Rapport d’audit de 2015', image_path('2015_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to 'Formulaire 990 de 2016', image_path('2016_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Rapport d’audit de 2016', image_path('2016_audited_financial_statements.pdf') %>
  </li>
</ul>
