---
title: "Nosso financiamento"
---
<div class="funding">
  A SumOfUs é o cão de guarda dx consumidxr global: uma comunidade online de 10 milhões de pessoas engajadas em campanhas para cobrar as grandes multinacionais. Usamos nosso poder de consumo, trabalho e investimento para responsabilizar as maiores empresas do mundo. Para maiores informações sobre a SumOfUs, consulte nossas Perguntas Frequentes.


  <div class="funding-section__sub-heading">Como financiamos nosso trabalho</div>

  <!-- Funding sources table -->
  <%= partial 'funding' %>

  <br style="clear:both">

  <%= partial 'funds_chart' %>

  <br style="clear:both">
  <div>
    <p>
      A maior parte do nosso financiamento vem de doações de membros.
      Em 2016, recebemos mais de 286,484 contribuições, com uma doação média de US$ 14,00.
    </p>
    <p>
    A SumOfUs também é parceira de diversas fundações e ONGs, incluindo a Tides Foundation, Open Society Foundations, Packard Foundation, Sunrise Project, Park Foundation, Luminate, Reset, Mighty Earth, Hull Family Foundation, One Project, Tara Foundation.
    </p>
  </div>

  <div class="funding-section__sub-heading">Como usamos as doações</div>
  
  <!-- Expenditure table -->
  <%= partial 'expenses' %>

  <br style="clear:both">

  <%= partial 'expenses_chart' %>

  <br style="clear:both">

  As declarações financeiras de 2020 estarão disponíveis no Outono de 2021 dos Estados Unidos.

  <div class="funding-section__sub-heading">Nosso compromisso com doadores</div>
  <div class="funding-section__details">
    Quando você doa para a SumOfUs, você começa a fazer parte de uma comunidade de pessoas no mundo todo que vigiam as multinacionais que colocam o lucro acima das pessoas e do planeta.
    Nossxs membros estão comprometidxs em responsabilizar as maiores empresas do mundo. Todos os dias, milhares de membros da SumOfUs nos ajudam a vencer campanhas, seja assinando uma petição, escrevendo a um CEO ou fazendo uma pergunta em uma assembleia de acionistas -- e, para aquelxs que têm condições, doando.

    Ou seja: as campanhas custam dinheiro. Não aceitamos dinheiros de governos nem de empresas. Então, sem a generosidade de nossxs membros, a gente não existiria.

    Nunca teremos o mesmo dinheiro que as empresas que enfrentamos. Mas graças a membros que doam o que podem, enfrentamos e vencemos as multinacionais.

    Somos financiados por você e, em retorno, te prometemos:

    <!-- Maybe make this a translatable partial: -->
    <ol class='funding-list'>
      <li>
        <span class="funding-section__show-bolder">Usar seu dinheiro de forma inteligente:</span> vamos fazer o máximo com cada centavo que você doar, gastando nas ações que tenham maior impacto.
        Temos uma equipe de aproximadamente 30 pessoas, mas enfrentamos e vencemos corporações como a Nestlé e a PepsiCo. Somos eficientes e alcançamos resultados.        
      </li>
      <li>
        <span class="funding-section__show-bolder">Vamos manter contato com você:</span> vamos garantir que você receba atualizações do que está rolando com nossas campanhas.
      </li>
      <li>
        <span class="funding-section__show-bolder">Vamos te responder rapidamente:</span> Se você entrar em contato, vamos responder o mais rápido que pudermos.
      </li>
      <li>
        <span class="funding-section__show-bolder">WVamos te reembolsar se você pedir:</span> caso mude de ideia a respeito de uma doação, vamos te devolver o dinheiro. Sem complicações.
      </li>
      <li>
        <span class="funding-section__show-bolder">Sempre te trataremos com respeito:</span> Sua parceria tem um imenso valor e toda a nossa equipe e voluntárixs entendem a importância do nosso relacionamento com você.
      </li>
      <li>
        <span class="funding-section__show-bolder">Sempre tentaremos melhorar:</span> A todo momento vamos buscar maneiras de melhorar como fazemos tudo isso que listamos acima.
      </li>
    </ol>

    Temos uma gratidão enorme por cada membro que usa seu tempo, energia e dinheiro para enfrentar o poder corporativo.
    <div>
      <br style="clear:both">
        Recentemente, seu apoio permitiu que a gente conseguisse vitórias incríveis em todo o mundo.
        Aqui vão alguns exemplos:
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Glifosato</div>
          O glifosato, o pesticida favorito da Monsanto, tem contaminado comida, roupas, produtos de higiene pessoal e até mesmo o leite materno. Membros da SumOfUs foram cruciais na coalizão que pressionou os maiores países da União Europeia, como a França e a Itália, a não renovarem a licença do pesticida.
          Suas doações nos ajudaram a anunciar em revistas e jornais que são amplamente lidos pelos principais tomadores de decisão da União Europeia e ajudaram a impedir que a licença fosse renovada.
        </div>
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Westpac</div>
          Quando o Westpac, um dos maiores bancos da Austrália, estava se preparando para financiar a mina de carvão de propriedade da empresa Adani e que iria destruir recifes, usamos as suas doações para pagar outdoors, anúncios online e fazer uma paródia audiovisual - e junto com as ações de nossxs membros e parceirxs, vencemos. O Westpac declarou publicamente que não ia mais financiar a mina da Adani.
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">WestJet</div>
        Quando vazaram os detalhes que a WestJet não tinha investigado casos de agressão sexual, o dinheiro arrecadado pelxs membros da SumOfUs nos ajudou a coordenar uma campanha efetiva para este caso. Fomos até a cidade canadense de Calgary para nos reunir com executivos da empresa, voamos clientes para o maior aeroporto do país para distribuir panfletos, conseguimos que acionistas e clientes VIP assinassem uma carta à empresa! Também participamos da Assembleia Geral Ordinária da empresa, fazendo perguntas difíceis, na frente de investidores e acionistas, sobre a falta de proteção aos funcionários. No fim, a WestJet cedeu e econcordou com uma auditoria externa de suas políticas.
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">Baysanto</div>
        A fusão da Bayer com a Monsanto em uma megacorporação teria sido um desastre - mas membros da SumOfUs ajudaram a garantir que a Comissão Europeia não só desaprovasse a fusão, mas também iniciasse uma investigação. A Comissária Europeia Margrethe Vestager respondeu diretamente a nossxs membros. Suas doações nos ajudaram a pagar uma campanha de anúncios gigantesca e a contratar nosso próprio lobista para derrotar essas empresas enormes.
      </div>
      <div class="funding-section__show-victory">
        <div>E isso não é tudo</div>
        As doações de membros da SumOfUs nos ajudaram a pagar panfletos, anúncios, outdoors, lobistas e muito mais. Nós ajudamos apicultores e especialistas a viajarem para se manifestarem em congressos contra pesticidas, pagamos anúncios para parar as empresas que apoiavam discurso de ódio no Breitbart e no Daily Mail e muito mais. Sem as as doações e ativismo de nossos membros, nosso trabalho simplesmente não seria possível.
      </div>
    </div>

    <div class="funding-section__show-victory">Para maiores informações, consulte nosso Formulário 990 anual, um formulário oficial da Receita Federal dos Estados Unidos da América e que fornece informações públicas sobre organizações não governamentais. Também disponibilizamos para consulta nosso relatório de auditoria conduzido por Lederer Levine & Associates, uma escritório de contabilidade independente localizado em Nova York.</div>

    <div class='funding-list__references'>
      <li>
        <%= link_to 'Formulário 990, ano 2014', image_path('funding/2014_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2014', image_path('funding/2014_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Formulário 990, ano 2015', image_path('funding/2015_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2015', image_path('funding/2015_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Formulário 990, ano 2016', image_path('funding/2016_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2016', image_path('funding/2016_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Formulário 990, ano 2017', image_path('funding/2017_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2017', image_path('funding/2017_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Formulário 990, ano 2018', image_path('funding/2018_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2018', image_path('funding/2018_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Formulário 990, ano 2019', image_path('funding/2019_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to 'Informe de auditoria, ano 2019', image_path('funding/2019_audited_financial_statements.pdf'), target: :_blank %>
      </li>
    </div>

  </div>
</div>
