---
title: "Cómo nos financiamos"
---
SumOfUs no recibe aportes ni de corporaciones, ni de entidades gubernamentales.
Las pequeñas donaciones de nuestros miembros nos permiten financiarnos y seguir
siendo independientes. Nos comprometemos a desenvolvernos con claridad y 
transparencia, respecto del origen y destino de nuestras donaciones.

## De dónde provienen nuestros fondos

<!-- Funding sources table -->
<%= partial 'funding' %>

<br style="clear:both">

<%= partial 'funds_chart' %>

<br style="clear:both">
<div>
  <p>
    La mayoría de las donaciones que recibimos provienen de nuestros miembros.
    En 2016, recibimos más de 286.484 contribuciones, con un aporte promedio de USD 14.
  </p>
  <p>
    Además SumOfUs trabaja con distintas fundaciones y ONG, tales como Tides Foundation, Changing Markets, Hull Family Foundation, Open Society Foundations, Packard Foundation, Wallace Global Fund, Sunrise Project, Park Foundation, Luminate, Omidyar Network, Transport & Environment, y Reset
  </p>
</div>

## En qué invertimos las donaciones:

<!-- Expenditure table -->
<%= partial 'expenses' %>

<br style="clear:both">

<%= partial 'expenses_chart' %>

<br style="clear:both">

Los datos financieros de 2017 estarán disponibles a partir de septiembre de 2018.


## Nuestro compromiso con quienes donan:

Cada vez que donas a SumOfUs, te unes a una comunidad de personas de todo el mundo, que destina su dinero a la lucha contra aquellas corporaciones que ponen sus intereses económicos por encima del bienestar de la gente y del planeta. Nuestros miembros están comprometidos a lograr que las grandes corporaciones se responsabilicen de sus actos. Cada día, la participación activa de decenas de miles de nuestros miembros nos permite coordinar campañas exitosas. Dicha participación incluye la firma de peticiones, la redacción de escritos dirigidos a los altos ejecutivos de las corporaciones, el planteo de inquietudes en asambleas de accionistas y—para quienes pueden permitírselo—el aporte en forma de donaciones.

En pocas palabras: las campañas no son gratuitas y, dado que no aceptamos dinero de corporaciones o de entidades gubernamentales, existimos gracias a la generosidad de nuestros miembros.

Nunca tendremos tanto dinero como las corporaciones a las que nos enfrentamos. Sin embargo, gracias a nuestros miembros—que donan lo que pueden—somos capaces de hacer frente al poder corporativo y de ganarle.

Todo lo que hacemos es posible gracias a ti. A cambio, te prometemos lo siguiente:

<!-- Maybe make this a translatable partial: -->
<ol class='funding-list'>
  <li>
    <b>Invertiremos tu dinero sabiamente:</b> aprovecharemos al máximo cada centavo que nos dones, invirtiendo en aquello que cause el mayor impacto posible. Si bien nuestro equipo está formado por poco más de 30 personas, somos capaces de enfrentarnos a gigantes como Nestlé y PepsiCo y de ganarles.
  </li>
  <li>
    <b>Te mantendremos informado:</b> nos aseguraremos de que estés al tanto de cualquier avance en nuestras campañas.
  </li>
  <li>
    <b>Responderemos rápidamente:</b> si te pones en contacto con nosotros, te responderemos tan pronto como nos sea posible.
  </li>
  <li>
    <b>Si lo solicitas, reembolsaremos tu dinero:</b> si cambias de idea con respecto a tu donación, te haremos el reembolso sin pedirte explicaciones.
  </li>
  <li>
    <b>Siempre te trataremos con respeto:</b> cada miembro y voluntario del equipo comprende lo valioso que es contar contigo.
  </li>
  <li>
    <b>Nos esforzaremos para ser cada vez mejores:</b> siempre buscaremos la manera de mejorar en cada uno de estos aspectos.
  </li>
</ol>

Estamos inmensamente agradecidos con todos y cada uno de nuestros miembros por el tiempo, el esfuerzo y la energía que dedican a enfrentarse al poder corporativo.

<div>
  <p>
   
Tu apoyo nos ha permitido alcanzar grandes victorias en todo el mundo. Los siguientes son solo algunos de nuestros logros más recientes:

  </p>
  <p>
    Glifosato
    <br style="clear:both">
    El pesticida favorito de Monsanto. El glifosato ha estado contaminando nuestra comida, ropa, productos de higiene personal e incluso la leche materna. Los miembros de SumOfUs han sido una parte esencial del grupo que disuadió a países principales de la Unión Europea, como Francia e Italia, de respaldar la renovación de la licencia de este producto. Tus donaciones nos ayudaron, no solo a difundir nuestro mensaje en las publicaciones más leídas entre personas influyentes dentro de la Unión Europea, sino además a evitar que se renovará dicha licencia.
  </p>
  <p>
    Westpac
    <br style="clear:both">
    Cuando Westpac—uno de los principales  bancos de Australia—se planteó financiar la mina de carbón destructora de arrecifes propiedad de la empresa Adani, tus donaciones nos permitieron recaudar dinero para cartelería, propagandas en línea y parodias audiovisuales. Todo esto, sumado a la participación de nuestros miembros e integrantes, contribuyó a nuestro éxito. Westpac anunció públicamente que no financiará la mina.
  </p>
  <p>
    WestJet
    <br style="clear:both">
    Al salir a la luz la falta de investigación por parte de la empresa WestJet ante casos de agresión sexual, miembros de SumOfUs recaudaron dinero para ayudar a impulsar efectivamente campañas dirigidas a resolver esta problemática. Viajamos a Calgary para reunirnos con ejecutivos de dicha empresa, repartimos folletos a los clientes de uno de los aeropuertos internacionales más grandes de Canadá, conseguimos una nota firmada por accionistas y viajeros frecuentes de WestJet, y estuvimos presentes durante la Asamblea General Ordinaria de la empresa, donde hicimos preguntas incómodas—frente a inversores y accionistas—acerca de la falta de protección para con sus empleados. Finalmente, WestJet dio marcha atrás y accedió a someterse a una auditoría externa de sus políticas.
  </p>
  <p>
    Baysanto
    <br style="clear:both">
    La fusión entre Bayer y Monsanto, en una sola megacorporación, hubiese tenido consecuencias devastadoras. Sin embargo, miembros de SumOfUs colaboraron para garantizar que la Comisión Europea no diese el visto bueno y que, por el contrario, decidiera investigar el caso. Incluso Margrethe Vestager, comisaria europea de competencia, respondió directamente a nuestros miembros. Tus donaciones nos permitieron financiar una gran campaña propagandística, y contratar nuestro propio cabildero para vencer a los gigantes corporativos en su propio juego.
  </p>
  <p>
    Y eso no es todo
    <br style="clear:both">
    Las donaciones que SumOfUs recibe de sus miembros han ayudado a financiar folletería, propaganda, cartelería, cabilderos y más. Entre otros logros, hemos colaborado con apicultores y expertos para que viajen hasta el Congreso con el fin de manifestarse en contra de los pesticidas. También hemos financiado propaganda para disuadir a empresas de apoyar el discurso de odio en Breitbart y The Daily Mail. Tus donaciones, junto con la participación activa de nuestros miembros, lo han hecho posible ya que, sin ellas no lo hubiésemos conseguido.
  </p>
</div>

Para más información, accede a nuestro Formulario 990, documento oficial que la Secretaría de Hacienda de los Estados Unidos emite anualmente, y que ofrece información sobre organizaciones sin fines de lucro. También puedes acceder a nuestro informe de auditoría llevado a cabo por Lederer Levine & Associates, empresa de contabilidad independiente con sede en Nueva York.

<ul class='funding-list'>
  <li>
    <%= link_to 'Formulario 990, año 2014', image_path('funding/2014_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Informe de auditoría, año 2014', image_path('funding/2014_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to 'Formulario 990, año 2015', image_path('funding/2015_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Informe de auditoría, año 2015', image_path('funding/2015_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to 'Formulario 990, año 2016', image_path('funding/2016_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to 'Informe de auditoría, año 2016', image_path('funding/2016_audited_financial_statements.pdf') %>
  </li>
</ul>
