---
title: "Unsere Finanzierung"
---
SumOfUs nimmt keine Spenden von Unternehmen oder Regierungen an. Wir sind
unabhängig, weil wir uns durch Kleinspenden unserer Mitglieder finanzieren.
Wir sagen offen, aus welchen Quellen unsere Mittel kommen und wofür wir sie
verwenden. Diese Transparenz ist uns wichtig.


## So finanzieren wir unsere Arbeit:
<!-- Funding sources table -->
<%= partial 'funding' %>

<br style="clear:both">

<%= partial 'funds_chart' %>

<br style="clear:both">

<div>
  <p>
    Die Spenden unserer Mitglieder machen den Großteil unserer Mittel aus.
    2016 haben wir mehr als 286.484 Einzelspenden in der Höhe von
    durchschnittlich 14 US-Dollar erhalten.
  </p>
  <p>
    SumOfUs arbeitet darüber hinaus mit einer Reihe von Stiftungen und
    Nichtregierungsorganisationen zusammen. Dazu zählen: die Tides Foundation,
    Chorus Foundation, BetterWorld, Changing Markets, General Service
    Foundation, Hull Family Foundation, Open Society Foundations,
    Packard Foundation, Public Welfare Foundation, Rockefeller Brothers
    Foundation, Voqal Foundation, Wallace Global Fund, Funders for Fair
    Trade, Media Democracy Fund, Robert W. Deutsch Foundation, New Venture Fund.
  </p>
</div>

## So verwenden wir unsere Mittel:
<!-- Expenditure table -->
<%= partial 'expenses' %>

<br style="clear:both">

<%= partial 'expenses_chart' %>

<br style="clear:both">


## Unser Versprechen an Sie

Mit Ihrer Spende an SumOfUs werden Sie Teil einer weltweiten Gemeinschaft,
die sich dafür einsetzt, dass Mensch und  Umwelt mehr zählen als
Konzernprofite. Unsere Mitglieder ziehen die größten Konzerne der Welt zur
Verantwortung. Täglich tragen  zehntausende SumOfUs-Mitglieder durch ihr
Engagement dazu bei, dass wir Kampagnen gewinnen: Sie unterzeichnen
Petitionen, schicken Botschaften an Entscheidungsträger/innen, nehmen
Einfluss auf Aktionärsversammlungen -- und  unterstützen die Arbeit von
SumOfUs auch finanziell.


Denn Fakt ist: Kampagnen kosten Geld. Und da wir kein Geld von Unternehmen
oder Regierungen annehmen, sind wir auf die Spenden von Mitgliedern wie
Ihnen angewiesen. Ohne Ihre großzügige Unterstützung gäbe es SumOfUs nicht.


Sie machen unsere Arbeit erst möglich, und dafür versprechen wir Ihnen:

<!-- Maybe make this a translatable partial: -->
<ol class='funding-list'>
  <li>
    <b>Wir wirtschaften klug mit Ihrem Geld:</b> Mit gerade mal 30
    Mitarbeiter/innen gewinnen wir Kampagnen gegen Megakonzerne wie
    Nestlé oder PepsiCo an. Als Organisation bleiben wir schlank und
    agil und erreichen so unsere Ziele.
  </li>
  <li>
    <b>Wir halten Sie auf dem Laufenden:</b> Wir berichten Ihnen regelmäßig,
    wie sich unsere Kampagnen entwickeln und was Ihre Spende bewirkt.
  </li>
  <li>
    <b>Wir sind stets für Sie da:</b> Wenn Sie uns kontaktieren, antworten
    wir so schnell wie möglich.
  </li>
  <li>
    <b>Sie können jederzeit eine Rückzahlung erhalten:</b> Falls Sie es sich
    anders überlegen, werden wir Ihre Spende anstandslos zurückerstatten.
  </li>
  <li>
    <b>Wir ruhen uns nicht auf unseren Erfolgen aus:</b> Tag für Tag suchen
    wir nach Wegen, noch besser zu werden.
  </li>
</ol>

SumOfUs-Mitglieder investieren Zeit, Energie und Geld, um Konzerne weltweit
zur Verantwortung zu ziehen. Dafür  sind wir unseren Mitstreiterinnen und
Mitstreitern sehr dankbar!


<div>
  <p>
    Dank Ihrer Unterstützung haben wir bereits zahlreiche Erfolge
    feiern können. Hier nur ein paar Beispiele:
  </p>
  <p>
    Glyphosat
    <br style="clear:both">
    SumOfUs-Mitglieder haben sich unermüdlich gegen die Wiederzulassung von
    Monsantos Lieblings-Chemikalie Glyphosat eingesetzt. Mit faulen Tricks
    haben die Glyphosat-Verfechter Ende 2017 zwar eine neue Lizenz für den
    Unkrautvernichter durchgeboxt -- aber nur für fünf statt der ursprünglich
    geplanten 15 Jahre. Auch zu den geplanten nationalen Glyphosatverboten
    in Frankreich und Italien hat der Einsatz der SumOfUs-Mitglieder
    beigetragen.
  </p>
  <p>
    Breitbart
    <br style="clear:both">
    Das Engagement der SumOfUs-Gemeinschaft hat dazu beigetragen, dass die
    rechte Hetzseite Breitbart im letzten Jahr 90 Prozent ihrer Anzeigenkunden
    verloren hat. Unsere Kampagne hat dazu beigetragen, dass die Webseite,
    die Donald Trump und Rechtspopulist/innen weltweit unterstützt, ihre
    geplante Expansion nach Europa und in die übrige Welt stoppen musste.
    Einen vergleichbaren Vorgang hat es in der Medienbranche noch nie
    gegeben -- und Sie sind mit Ihrem Einsatz und Ihrer Unterstützung ein
    wichtiger Baustein dieses Erfolgs.
  </p>
  <p>
    Baysanto
    <br style="clear:both">
    Die geplante Fusion von Bayer und Monsanto ist ein Albtraum für Umwelt,
    Landwirte und Verbraucher. Gemeinsam haben wir verhindert, dass der
    Konzernzusammenschluss einfach abgenickt  wird --  mit Ihren Spenden,
    Tweets und Unterschriften haben Sie dafür gesorgt, dass die EU die
    Fusionspläne stattdessen detailliert und kritisch prüft. EU-Kommissarin
    Vestager hat direkt auf unsere Kampagne reagiert und sich an unsere
    Mitglieder gewandt. Mit Ihren Spenden konnten wir eine große
    Anzeigenkampagne und unsere eigene Lobbyistin finanzieren und die beiden
    Großkonzerne so mit ihren eigenen Waffen schlagen.
  </p>
  <p>
    Nestlé
    <br style="clear:both">
    Die kleine Gemeinde Osceola Township in Michigan versucht, ihr Trinkwasser
    vor Nestlé zu schützen. Dafür zerrte der Großkonzern die Gemeinde vor
    Gericht. Die kleine Ortschaft musste sich massiv verschulden, um es mit
    Nestlé aufzunehmen. SumOfUs-Mitglieder auf der ganzen Welt halfen und
    spendeten Geld, um die Prozesskosten decken. Ohne uns wäre die Gemeinde
    höchstwahrscheinlich bankrott gegangen, sagt der Finanzverwalter von
    Osceola Township. Stattdessen kann sie jetzt den Kampf um ihr Trinkwasser
    fortführen und sich gegen die Profitgier von Nestlés wehren.
  </p>
  <p>
    Und noch vieles mehr
    <br style="clear:both">
    Die Spenden von SumOfUs-Mitgliedern wie Ihnen haben geholfen, Flugblätter,
    Anzeigen, Plakate und Lobbyist/innen zu finanzieren. Wir haben
    Imker/innen die Reise zu Bayers Hauptversammlung und dem US-Kongress
    ermöglichen, wo sie über die Gefahren der Bienenkiller-Pestizide aufklären
    konnten. Wir haben unabhängige Forscher bei ihrer Arbeit unterstützt.
    Und vieles mehr. Ihre Spenden und das Engagement der SumOfUs-Mitglieder
    haben diese Arbeit erst möglich gemacht.
  </p>
</div>

Weitere Informationen über uns bietet Ihnen das jährliche Form 990-Dokument.
Dieses Dokument der US-Bundessteuerbehörde enthält alle öffentlichen
Informationen über Nonprofit-Organisationen. Darüber hinaus können Sie die
Prüfberichte der unabhängigen Wirtschaftsprüfungsgesellschaft Lederer Levine
& Associates einsehen.


<ul class='funding-list'>
  <li>
    <%= link_to '2014 Form 990', image_path('funding/2014_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2014 Audit Report', image_path('funding/2014_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to '2015 Form 990', image_path('funding/2015_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2015 Audit Report', image_path('funding/2015_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to '2016 Form 990', image_path('funding/2016_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2016 Audit Report', image_path('funding/2016_audited_financial_statements.pdf') %>
  </li>
</ul>
