---
title: "Our Funding"
---
<div class="funding">
  SumOfUs is a global consumer watchdog: an online community of ten million people who campaign to hold big corporations accountable. We use our power as consumers, workers and investors to hold the biggest companies in the world to account. For more information about SumOfUs please consult our FAQ.


  <div class="funding-section__sub-heading">Where our funding comes from</div>

  <!-- Funding sources table -->
  <%= partial 'funding' %>

  <br style="clear:both">

  <%= partial 'funds_chart' %>

  <br style="clear:both">
  <div>
    <p>
      The majority of our support comes from member donations.
      In 2016 we received over 286,484 contributions with an average gift of $14 USD.
    </p>
    <p>
      SumOfUs also partners with a number of foundations and NGO groups, including Tides Foundation, Changing Markets, Hull Family Foundation, Open Society Foundations, Packard Foundation, Wallace Global Fund, Sunrise Project, Park Foundation, Luminate, Omidyar Network, Transport & Environment, and Reset
    </p>
  </div>

  <div class="funding-section__sub-heading">How we spend donations</div>
  
  <!-- Expenditure table -->
  <%= partial 'expenses' %>

  <br style="clear:both">

  <%= partial 'expenses_chart' %>

  <br style="clear:both">

  2020 financials will be available Fall 2021.

  <div class="funding-section__sub-heading">Our Commitment to Donors</div>
  <div class="funding-section__details">
    When you donate to SumOfUs, you join a community of people from all over world
    who are investing their money to take on the corporations that put profit over
    people and planet.
    Our members are committed to holding the biggest companies in the world to
    account. Each day tens of thousands of SumOfUs members take actions that help us
    win campaigns, whether by signing a petition, writing to a Chief Executive or
    asking a question at a shareholder meeting -- and, for those who can afford
    to, donating.

    Simply put, campaigns cost money. We do not accept money from corporations or
    governments. So without the generosity of our members we would not exist.

    We’ll never have the bank balances of the corporations we take on. But thanks
    to our members who donate what they can, we can stand up to corporate power
    and we can win.

    We are powered by you, and in return we promise you:

    <!-- Maybe make this a translatable partial: -->
    <ol class='funding-list'>
      <li>
        <span class="funding-section__show-bolder">We will spend your money wisely:</span> we’ll make the most of every cent or
        penny you donate by spending it where it’ll have the biggest impact.
        We have just over 30 staff but we take on corporate giants such as Nestle
        and PepsiCo, and we win. We’re lean and we get results.
      </li>
      <li>
        <span class="funding-section__show-bolder">We will keep in touch with you:</span> we’ll make sure you’re kept
        in the loop with what’s going on with campaigns.
      </li>
      <li>
        <span class="funding-section__show-bolder">We will get back to you quickly:</span> if you contact us we’ll respond as
        promptly as we can.
      </li>
      <li>
        <span class="funding-section__show-bolder">We will give you a refund if you ask:</span> if you change your mind about a
        donation we will give it back to you, no questions asked.
      </li>
      <li>
        <span class="funding-section__show-bolder">We will always treat you with respect:</span> You are a valued partner and
        every staff member and volunteer understands how important our relationship
        is with you.
      </li>
      <li>
        <span class="funding-section__show-bolder">We will keep trying to get better:</span> we will always look for ways that
        we can improve how we do all of the above.
      </li>
    </ol>

    We are so grateful to each and every one of our members for putting their time,
    their energy, and their money to use taking on corporate power.
    <div>
      <br style="clear:both">
        Recently, your support has allowed us to achieve some huge victories all
        around the world.
        Here are just a few:
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Glyphosate</div>
          Monsanto’s favourite pesticide, glyphosate, has been contaminating food,
          clothing, personal hygiene products, and even breast milk. SumOfUs members
          were a crucial part of the coalition that led to pushing major EU countries
          such as France and Italy to not back the renewal of its license.
          Your donations helped us to advertise in publications widely read by key
          EU decision-makers, and helped prevent the license from being railroaded
          through.
        </div>
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Westpac</div>
          When Westpac, one of the biggest banks in Australia, planned to bankroll
          Adani's Reef-wrecking coal mine, your donations raised money for billboards,
          online ads and a spoof video - and along with our members' actions and our
          partners, we won. Westpac publicly stated that they won't fund Adani's mine.
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">WestJet</div>
        When details came to light over WestJet’s failure to investigate sexual
        assault, money raised by SumOfUs members helped us to run an effective
        targeted campaign. We went to Calgary to meet with company executives,
        flyered customers at one of Canada's largest international airports, got
        a letter signed by WestJet shareholders and frequent flyers, and attended
        the AGM, where we asked tough questions about its failure to protect employees
        in front of investors and shareholders. Eventually, WestJet backed down and
        agreed to an external audit of its policies.
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">Baysanto</div>
        The merger of Bayer and Monsanto into one megacorporation would’ve been
        a disaster - but SumOfUs members helped make sure the EU Commission didn’t
        give the green light and instead launched an investigation. EU Commissioner
        Margrethe Vestager even responded to our members directly. Your donations
        helped us fund a huge advertising campaign and hire our own lobbyist to beat
        the corporate giants at their own game.
      </div>
      <div class="funding-section__show-victory">
        <div>And more</div>
        Donations from SumOfUs members have helped to fund leafleting, advertisements,
        billboards, lobbyists and more. We’ve helped beekeepers and experts travel
        to speak in front of congress against pesticides, funded advertisements to
        stop companies supporting hate speech in Breitbart and the Daily Mail, and
        much more. Your donations, along with the actions of our members, have made
        all of this work possible - we wouldn’t be able to do what we do without it.
      </div>
    </div>

    <div class="funding-section__show-victory">For more information, you can view our annual Form 990, an official US
    Internal Revenue Service form that provides public information about
    nonprofit organizations, and our audit report conducted by Lederer
    Levine & Associates, an independent accounting firm based in New York.</div>

    <div class='funding-list__references'>
      <li>
        <%= link_to '2016 Form 990', image_path('funding/2016_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2016 Audit Report', image_path('funding/2016_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2017 Form 990', image_path('funding/2017_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2017 Audit Report', image_path('funding/2017_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2018 Form 990', image_path('funding/2018_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2018 Audit Report', image_path('funding/2018_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Form 990', image_path('funding/2019_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Audit Report', image_path('funding/2019_audited_financial_statements.pdf'), target: :_blank %>
      </li>
    </div>

  </div>
</div>
