---
title: "Onze Financiering"
---
<div class="funding">
  SumOfUs is een wereldwijde consumentenwaakhond: een online community van 10 miljoen mensen die campagne voeren om grote bedrijven rekenschap te laten afleggen. We gebruiken onze macht als consumenten, werknemers en investeerders om de grootste bedrijven ter wereld ter verantwoording te roepen. Voor meer informatie over SumOfUs kan je onze veelgestelde vragen raadplegen.


  <div class="funding-section__sub-heading">Waar onze financiering vandaan komt</div>

  <!-- Funding sources table -->
  <%= partial 'funding' %>

  <br style="clear:both">

  <%= partial 'funds_chart' %>

  <br style="clear:both">
  <div>
    <p>
	  Het grootste deel van de steun die we ontvangen bestaat uit donaties van leden. In 2021 ontvingen we meer dan 421.000 bijdragen met een gemiddeld bedrag van 17.45 USD.
      
    </p>
    <p>
      SumOfUs werkt ook samen met een aantal stichtingen en ngo’s, waaronder Tides Foundation, Open Society Foundations, Packard Foundation, Sunrise Project, Park Foundation, Luminate, Reset, Mighty Earth, Hull Family Foundation, One Project en Tara Foundation.
    </p>
  </div>

  <div class="funding-section__sub-heading">Hoe we donaties besteden</div>
  
  <!-- Expenditure table -->
  <%= partial 'expenses' %>

  <br style="clear:both">

  <%= partial 'expenses_chart' %>

  <br style="clear:both">



  <div class="funding-section__sub-heading">Onze Beloften aan Donateurs</div>
  <div class="funding-section__details">
    Wanneer je aan SumOfUs doneert, sluit je je aan bij een wereldwijde community van mensen die hun geld investeren om de strijd aan te gaan met bedrijven die winst boven mensen en de planeet stellen. Onze leden zetten zich in om de grootste bedrijven ter wereld ter verantwoording te roepen. Elke dag ondernemen tienduizenden SumOfUs-leden acties die ons helpen campagnes te winnen, door een petitie te ondertekenen, een Chief Executive aan te schrijven of een vraag te stellen op een aandeelhoudersvergadering -- en, voor  wie het zich kan veroorloven, door te doneren. Eenvoudig gezegd, campagnes kosten geld. Wij nemen geen geld aan van bedrijven of regeringen. Dus zonder de vrijgevigheid van onze leden zouden wij niet bestaan. We zullen nooit de bankrekeningen hebben van de bedrijven waar we het tegen opnemen. Maar dankzij onze leden die doneren wat ze kunnen, kunnen we ons verzetten tegen de macht van bedrijven en kunnen we winnen. Wij worden gesteund door mensen zoals jij, en daarom beloven wij jou:

    <!-- Maybe make this a translatable partial: -->
    <ol class='funding-list'>
      <li>
        <span class="funding-section__show-bolder">We besteden jouw geld verstandig:</span> we halen het beste uit elke cent die jij doneert door het uit te geven waar het de grootste impact heeft. We hebben iets meer dan 30 medewerkers, maar we nemen het op tegen giganten als Nestlé en PepsiCo, en we winnen. We zijn klein en efficiënt en we boeken resultaat.
      </li>
      <li>
        <span class="funding-section__show-bolder">Wij houden contact:</span> wij zorgen ervoor dat je op de hoogte blijft van wat er gebeurt met de campagnes.

      </li>
      <li>
        <span class="funding-section__show-bolder">Wij reageren snel:</span> als je contact met ons opneemt, antwoorden we zo snel mogelijk.
      </li>
      <li>
        <span class="funding-section__show-bolder">Wij geven je je donatie terug als je daarom vraagt:</span> als je van gedachten verandert over een donatie zullen wij die teruggeven, zonder vragen te stellen.
      </li>
      <li>
        <span class="funding-section__show-bolder">Wij behandelen je altijd respectvol:</span> je bent een gewaardeerde partner en elk personeelslid en elke vrijwilliger begrijpt hoe belangrijk onze relatie met jou is.

      </li>
      <li>
        <span class="funding-section__show-bolder">Wij streven er altijd naar om beter te worden:</span> we zoeken voortdurend naar manieren waarop wij alles wat we hierboven noemen beter kunnen doen.
      </li>
    </ol>

    Wij zijn onze leden stuk voor stuk zo dankbaar dat zij hun tijd, energie en geld gebruiken om het op te nemen tegen de macht van het bedrijfsleven.
    <div>
      <br style="clear:both">
		Dankzij jouw steun hebben we de laatste tijd over de hele wereld een aantal grote overwinningen geboekt. Om er maar een paar te noemen:
        
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Glyfosaat</div>
		  Monsanto's favoriete pesticide, glyfosaat, besmette jarenlang voedsel, kleding, producten voor persoonlijke hygiëne en zelfs moedermelk. SumOfUs-leden waren een cruciaal onderdeel van de coalitie die ervoor gezorgd heeft dat EU-landen zoals Frankrijk en Italië de verlenging van de vergunning ervoor niet steunden. Jullie donaties hielpen ons om te adverteren in publicaties die veel worden gelezen door belangrijke EU-besluitvormers, en hielpen voorkomen dat de vergunning erdoor gemanoeuvreerd werd.
          
        </div>
        <div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">Westpac</div>
		  Toen Westpac, een van de grootste banken in Australië, van plan was om de kolenmijn van Adani te financieren die het koraalrif zou vernietigen, hebben jullie donaties geholpen om billboards, online advertenties en een zogeheten ‘spoof video’ te financieren - en samen met de acties van onze leden en onze partners hebben we gewonnen. Westpac heeft openlijk verklaard dat ze de mijn van Adani niet zullen financieren.
          
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">WestJet</div>
        Toen details aan het licht kwamen over hoe Canadese luchtvaartmaatschappij WestJet naliet om seksueel geweld te onderzoeken, hielp het geld ingezameld door SumOfUs-leden ons om een doeltreffende campagne te voeren. We gingen naar hun hoofdkantoor in Calgary voor een ontmoeting met leidinggevenden van het bedrijf, flyerden voor klanten op een van Canada's grootste internationale luchthavens, lieten een brief ondertekenen door WestJet-aandeelhouders en frequent flyers en woonden de aandeelhoudersvergadering bij, waar we in het bijzijn van investeerders en aandeelhouders lastige vragen stelden over hoe WestJet faalde om werknemers te beschermen. Uiteindelijk krabbelde WestJet terug en stemde in met een externe evaluatie van zijn beleid.
      </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">Baysanto</div>
        De fusie van Bayer en Monsanto tot één megaconcern zou een ramp zijn geweest - maar SumOfUs-leden hielpen ervoor te zorgen dat de Europese Commissie geen groen licht gaf en in plaats daarvan een onderzoek startte. Europees commissaris Margrethe Vestager gaf onze leden zelfs rechtstreeks een antwoord. Jullie donaties hielpen ons een enorme reclamecampagne te financieren en onze eigen lobbyist in te huren om de gigantische multinationals op hun eigen terrein te verslaan. 
      </div>
      <div class="funding-section__show-victory">
        <div>En nog meer</div>
        Donaties van SumOfUs-leden hebben geholpen om folders, advertenties, reclameborden en lobbyisten financieren. We hebben imkers en experts geholpen om voor het Congres van de Verenigde Staten te spreken tegen pesticiden, we hebben advertenties gefinancierd zodat bedrijven stopten haatdragende taal te financieren in de Noord-Amerikaanse krant Breitbart en de Britse Daily Mail, en nog veel meer. Jullie donaties, samen met de acties van onze leden, hebben al dit werk mogelijk gemaakt. Zonder jullie steun zouden we nooit in staat zijn geweest te doen wat we doen.
      </div>
    </div>

    <div class="funding-section__show-victory">Voor meer informatie kun je ons jaarlijkse Form 990 bekijken, een officieel formulier van de Amerikaanse belastingdienst dat openbare informatie geeft over non-profitorganisaties. En kijk ook eens naar ons auditverslag uitgevoerd door Galleros Robinson, een onafhankelijk accountantskantoor gevestigd in New York.
</div>

    <div class='funding-list__references'>
      <li>
        <%= link_to '2018 Form 990', image_path('funding/2018_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2018 Audit Report', image_path('funding/2018_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Form 990', image_path('funding/2019_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Audit Report', image_path('funding/2019_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2020 Form 990', image_path('funding/2020_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2020 Audit Report', image_path('funding/2020_audited_financial_statements.pdf'), target: :_blank %>
      </li>
    </div>

  </div>
</div>
