---
title: "مصادر تمويلنا"
---

<div class="funding">
تؤدّي Ekō دور المراقب العالمي للشركات بهدف حماية المستهلك: نحن مجموعة من ملايين الأعضاء نطلق حملاتٍ ونحقّق أهدافها المتمثّلة في دفع الشركات العالمية إلى تحمّل مسؤوليّاتها. نحن نستعين بنفوذنا كمستهلكين وعمّال ومستثمرين كي نضع أكبر الشركات أمام مسؤوليّاتها في جميع أنحاء العالم. للمزيد من المعلومات حول Ekō، يُرجى مراجعة قسم الأسئلة المتكرّرة. 


<div class="funding-section__sub-heading">من أين يأتي تمويلنا</div>

  <!-- Funding sources table -->
  <%= partial 'funding' %>

  <br style="clear:both">

  <%= partial 'funds_chart' %>

  <br style="clear:both">
<div>
    <p>
يأتي معظم تمويلنا من تبرّعات الأعضاء. </p>
    <p>
تتعاون Ekō أيضاً مع عددٍ من المؤسّسات والمنظّمات غير الحكومية، بما فيها Tides Foundation وChanging Markets وHull Family Foundation وOpen Society Foundation وPackard Foundation وWallace Global Fund وSunrise Project وPark Foundation وLuminate وOmidyar Network وTransport&Environment وReset
</p>
  </div>

  <div class="funding-section__sub-heading">كيف ننفق التبرّعات</div>
  
  <!-- Expenditure table -->
  <%= partial 'expenses' %>

  <br style="clear:both">

  <%= partial 'expenses_chart' %>

  <br style="clear:both">

تتوفّر المعلومات الماليّة الخاصّة بعام 2021 في خريف عام 2022. 
<div class="funding-section__sub-heading">التزاماتنا تجاه المتبرّعين</div>
  <div class="funding-section__details">
تبرّعك لEkō يجعلك جزءاً من مجموعة من الأشخاص من جميع أنحاء العالم
يستثمرون بعض أموالهم في سبيل محاربة الشركات التي تعطي جمع الأرباح أولويةً على
المصلحة العامة للكوكب وسكّانه. 
أعضاؤنا ملتزمون بوضع أكبر الشركات 
أمام مسؤوليّاتها في جميع أنحاء العالم. كلّ يوم يتّخذ عشرات ألاف أعضاء Ekō خطواتٍ فعليّةً لمساعدتنا
في إنجاح حملاتنا، وذلك إما عبر التوقيع على عريضةٍ ما وإما عبر مراسلة الرئيس التنفيذي لشركةٍ ما، وإما 
عبر طرح الأسئلة خلال اجتماعٍ يضمّ جميع المستثمرين -- كما يُساعدنا من يُتاح له ذلك 
عبر التبرّع لنا.

إطلاق الحملات وإنجاحها عملٌ مُكلفٌ مادياً.  نحن لا نقبل أيّ تبرّعاتٍ من أيّ شركاتٍ أو 
حكومات. لذا، يمكننا القول بكلّ بساطةٍ أن Ekō لم تكن لتوجد حتى لولا كرم أعضائنا

لن يأتيَ يومٌ يُقارب فيه رصيدنا البنكيّ أرصدة الشركات الكبرى التي نقف في وجهها. لكن بفضل
 أعضائنا الذين يمنحوننا ما في استطاعتهم، يمكننا مواجهة نفوذ الشركات
ويمكننا الفوز في هذه المواجهة.

أعضاؤنا هم عصب قوّتنا، لذلك نعدكم: 

<!-- Maybe make this a translatable partial: -->
    <ol class='funding-list'>
      <li>
<span class="funding-section__show-bolder">سننفق مالَك بتأنّ وحكمة: </span>كلّ قرشٍ يتبرّع به الأعضاء 
سيذهب لتحقيق أقصى ما يمكننا تحقيقه من تأثير.
فريق عملنا صغيرٌ لكننا نواجه شكراتٍ كبرى مثل نستله Nestle وبيبسي PepsiCo، وننتصر. نعمل بسلاسةٍ ونحقّق نتائج ملموسة.
</li>
      <li>
<span class="funding-section__show-bolder">سنبقى على تواصلٍ معك: </span> لإطلاعك 
على  كلّ جديدٍ بخصوص الحملات. 
</li>
      <li>
<span class="funding-section__show-bolder">سنردّ عليك بسرعة: </span> إذا تواصلت معنا سنجيب 
بأسرع وقتٍ ممكن. 
</li>
      <li>
<span class="funding-section__show-bolder">سنعيد تبرّعك إلى حسابك إذا طلبت ذلك: </span>إذا غيّرت رأيك بخصوص
تبرّعٍ ما سنعيده إليك من دون طرح أيّ أسئلة. 
</li>
      <li>
<span class="funding-section__show-bolder">علاقتنا بك سيحكمها الاحترام دائماً: </span>نعتزّ بشراكتنا معك 
وكلّ فريق عملنا بما في ذلك المتطوّعين يدركون تماماً أهمية هذه العلاقة
معك.
</li>
      <li>
<span class="funding-section__show-bolder">سنسعى دائماً نحو الأفضل: </span>سنبحث بلا كللٍ عن طرقٍ
لتحسين أدائنا في كلّ ما سبق.
</li>
    </ol>

امتناننا عميقٌ لكلّ عضوٍ من أعضاء Ekō لتخصيص بعضٍ من وقتهم 
وطاقتهم وأموالهم للوقوف في وجه نفوذ الشركات.
<div>
<br style="clear:both">
مؤخّراً، ساهم دعمك لنا بتحقيق انتصاراتٍ عظيمةٍ في
جميع أنحاء العالم.
إليك بعض الأمثلة البسيطة:<div class="funding-section__show-victory">
          <div class="funding-section__show-bolder">الغليفوسات</div>
أصبحت أطعمتنا وثيابنا ومستحضرات النظافة التي نستخدمها كلّها ملوّثةً بالمبيد الكيميائي المفضّل لدى شركة مونسانتو المنتجة للمبيدات، وهو الغليفوسات الذي طال حتى حليب الأمّهات. كان لأعضاء Ekō
 دورٌ أساسيٌّ في جهود التعاون التي دفعت بالدول الأوروبية الكبرى
من مثل فرنسا وإيطاليا إلى الامتناع عن تجديد رخصة استخدام الغليفوسات.
أتاحت لنا تبرّعات الأعضاء نشر دعاياتٍ في منشوراتٍ يقرؤها أصحاب القرار 
في الاتحاد الأوروبي على نطاقٍ واسع، كما ساهمت في منع تجديد رخصة الغليفوسات.
 </div>
      <div class="funding-section__show-victory">
        <div class="funding-section__show-bolder">بيسانتو</div>
كاد دمج باير ومونسانتو ضمن شركةٍ ضخمةٍ واحدةٍ يؤدّي إلى
 كارثة - لكن أعضاء Ekō ساعدوا لضمان ألا يمنح الاتحاد الأوروبي
الضوء الأخضر لهذا الدمج بل على العكس قفد أطلق تحقيقاً. قامت مفوّضة الاتحاد الأوروبي
مارغريت فيستاغر بالردّ على أعضائنا مباشرةً. تبرّعاتكم

ساهمت في تمويل حملةٍ إعلانيةٍ ضخمة وتوظيف مجموعة ضغطٍ  خاصّة تمكّنت من مواجهة
الشركتين الضخمتين في عقر دارهما.
</div>
      <div class="funding-section__show-victory">
        <div>وثمة المزيد والمزيد. </div>
ساهمت تبرّعات أعضاء Ekō في تمويل إصدار منشوراتٍ وإعلاناتٍ
ولوحاتٍ إعلانيّة كبيرة، وجماعات ضغطٍ وغيرها. ساعدنا المدافعين عن النحل والخبراء في السفر
للمثول أمام الكونغرس والتحدّث عن أضرار المبيدات، كما موّلنا إعلاناتٍ تهدف إلى
وقف خطاب الكراهيّة الذي تبثّه شركاتٌ من مثل بريتبارت Breitbart والديلي ميل Daily Mail،
وغير ذلك الكثير. تبرّعات الأعضاء، والخطوات التي اتّخذوها هي التي جعلت
كلّ هذا ممكناً - لم يكن أيّ من إنجازاتنا ممكناً لولا الأعضاء.
</div>
    </div>

    <div class="funding-section__show-victory">للمزيد من المعلومات، يُرجى الاطّلاع على النموذج السنوي 990 الخاصّ بنا، وهو نموذجٌ رسميّ معتمد في الولايات المتحدة الأميركية
للإيرادات الداخلية، يُبَيّن معلوماتٍ حول
المنظّمات غير الربحيّة، كما يُمكن الاطّلاع على تقرير مراجعة الحسابات الذي أصدرته Galleros Robinson، وهي شركة محاسبة مستقلّة مقرّها الولايات المتحدة الأميركية.</div>

    <div class='funding-list__references'>
      <li>
        <%= link_to '2018 Form 990', image_path('funding/2018_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2018 Audit Report', image_path('funding/2018_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Form 990', image_path('funding/2019_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2019 Audit Report', image_path('funding/2019_audited_financial_statements.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2020 Form 990', image_path('funding/2020_990_SumOfUs.pdf'), target: :_blank %>
      </li>
      <li>
        <%= link_to '2020 Audit Report', image_path('funding/2020_audited_financial_statements.pdf'), target: :_blank %>
      </li>
    </div>

  </div>
</div>