---
title: "How we're funded"
---
SumOfUs does not accept funding from any corporations or governments.
Being funded by small donations from our members allows us to stay independent.
We are committed to being open and transparent about where our donations come
from and how they are used.


## Where our funding comes from:
<!-- Funding sources table -->
<%= partial 'funding' %>

<br style="clear:both">

<%= partial 'funds_chart' %>

<br style="clear:both">

<div>
  <p>
    The majority of our support comes from member donations.
    In 2016 we received over 286,484 contributions with an average gift of $14 USD.
  </p>
  <p>
    SumOfUs also partners with a number of foundations and NGO groups, including
    Tides Foundation, Chorus Foundation, BetterWorld, Changing Markets, General
    Service Foundation, Hull Family Foundation, Open Society Foundations, Packard
    Foundation, Public Welfare Foundation, Rockefeller Brothers Foundation, Voqal
    Foundation, Wallace Global Fund, Funders for Fair Trade, Media Democracy Fund,
    Robert W. Deutsch Foundation, New Venture Fund.
  </p>
</div>

## How we spend donations:
<!-- Expenditure table -->
<%= partial 'expenses' %>

<br style="clear:both">

<%= partial 'expenses_chart' %>

<br style="clear:both">

## Our commitment to donors:

When you donate to SumOfUs, you join a community of people from all over world
 who are investing their money to take on the corporations that put profit over
 people and planet.
Our members are committed to holding the biggest companies in the world to
account. Each day tens of thousands of SumOfUs members take actions that help us
 win campaigns, whether by signing a petition, writing to a Chief Executive or
 asking a question at a shareholder meeting -- and, for those who can afford
 to, donating.

Simply put, campaigns cost money. We do not accept money from corporations or
governments. So without the generosity of our members we would not exist.

We’ll never have the bank balances of the corporations we take on. But thanks
to our members who donate what they can, we can stand up to corporate power
and we can win.

We are powered by you, and in return we promise you:

<!-- Maybe make this a translatable partial: -->
<ol class='funding-list'>
  <li>
    <b>We will spend your money wisely:</b> we’ll make the most of every cent or
    penny you donate by spending it where it’ll have the biggest impact.
    We have just over 30 staff but we take on corporate giants such as Nestle
    and PepsiCo, and we win. We’re lean and we get results.
  </li>
  <li>
    <b>We will keep in touch with you:</b> we’ll make sure you’re kept
    in the loop with what’s going on with campaigns.
  </li>
  <li>
    <b>We will get back to you quickly:</b> if you contact us we’ll respond as
    promptly as we can.
  </li>
  <li>
    <b>We will give you a refund if you ask:</b> if you change your mind about a
    donation we will give it back to you, no questions asked.
  </li>
  <li>
    <b>We will always treat you with respect:</b> You are a valued partner and
    every staff member and volunteer understands how important our relationship
    is with you.
  </li>
  <li>
    <b>We will keep trying to get better:</b> we will always look for ways that
    we can improve how we do all of the above.
  </li>
</ol>

We are so grateful to each and every one of our members for putting their time,
 their energy, and their money to use taking on corporate power.

<div>
  <p>
    Recently, your support has allowed us to achieve some huge victories all
    around the world.
    Here are just a few:
  </p>
  <p>
    Glyphosate
    <br style="clear:both">
    Monsanto’s favourite pesticide, glyphosate, has been contaminating food,
    clothing, personal hygiene products, and even breast milk. SumOfUs members
    were a crucial part of the coalition that led to pushing major EU countries
    such as France and Italy to not back the renewal of its license.
    Your donations helped us to advertise in publications widely read by key
    EU decision-makers, and helped prevent the license from being railroaded
    through.
  </p>
  <p>
    Westpac
    <br style="clear:both">
    When Westpac, one of the biggest banks in Australia, planned to bankroll
    Adani's Reef-wrecking coal mine, your donations raised money for billboards,
    online ads and a spoof video - and along with our members' actions and our
    partners, we won. Westpac publicly stated that they won't fund Adani's mine.
  </p>
  <p>
    WestJet
    <br style="clear:both">
    When details came to light over WestJet’s failure to investigate sexual
    assault, money raised by SumOfUs members helped us to run an effective
    targeted campaign. We went to Calgary to meet with company executives,
    flyered customers at one of Canada's largest international airports, got
    a letter signed by WestJet shareholders and frequent flyers, and attended
    the AGM, where we asked tough questions about its failure to protect employees
     in front of investors and shareholders. Eventually, WestJet backed down and
     agreed to an external audit of its policies.
  </p>
  <p>
    Baysanto
    <br style="clear:both">
    The merger of Bayer and Monsanto into one megacorporation would’ve been
    a disaster - but SumOfUs members helped make sure the EU Commission didn’t
    give the green light and instead launched an investigation. EU Commissioner
    Margrethe Vestager even responded to our members directly. Your donations
    helped us fund a huge advertising campaign and hire our own lobbyist to beat
    the corporate giants at their own game.
  </p>
  <p>
    And more
    <br style="clear:both">
    Donations from SumOfUs members have helped to fund leafleting, advertisements,
    billboards, lobbyists and more. We’ve helped beekeepers and experts travel
    to speak in front of congress against pesticides, funded advertisements to
    stop companies supporting hate speech in Breitbart and the Daily Mail, and
    much more. Your donations, along with the actions of our members, have made
    all of this work possible - we wouldn’t be able to do what we do without it.
  </p>
</div>

For more information, you can view our annual Form 990, an official US
Internal Revenue Service form that provides public information about
nonprofit organizations, and our audit report conducted by Lederer
Levine & Associates, an independent accounting firm based in New York.

<ul class='funding-list'>
  <li>
    <%= link_to '2014 Form 990', image_path('2014_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2014 Audit Report', image_path('2014_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to '2015 Form 990', image_path('2015_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2015 Audit Report', image_path('2015_audited_financial_statements.pdf') %>
  </li>
  <li>
    <%= link_to '2016 Form 990', image_path('2016_990_SumOfUs.pdf') %>
  </li>
  <li>
    <%= link_to '2016 Audit Report', image_path('2016_audited_financial_statements.pdf') %>
  </li>
</ul>
